*{
  margin: 0;
  padding: 0;
}

.content{
  text-align: center;
  background: url('./assets/img/spacex.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.m-w-1200{
  max-width: 1200px;
  background: #0b0b0b;
  margin: auto;

}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  width: 200px;
  height: 35px;
  border-radius: 4%;
}

.sign-in a{
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  &:hover{
    text-decoration: underline;
    background: white;
    transition: .8s;
    color: black;
  }
}
